<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}EuCidadão - Acompanhe a Câmara dos Deputados{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Anton|Roboto:300,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Navegar</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Eu Cidadão</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('homepage') }}">Início</a></li>
                        <li><a href="{{ path('about') }}">Como Funciona</a></li>
                        <li><a href="{{ path('deputados') }}">Deputados</a></li>
                        <li><a href="{{ path('proposicoes') }}">Proposições</a></li>
                        <li><a href="#">Relatórios Eu Cidadão</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        {% block body %}{% endblock %}

        <hr>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Feito com <span class="fa fa-heart" style="color: #c00"></span> por Glauber Portella <a href="mailto:glauberportella@gmail.com">glauberportella@gmail.com</a>
                    </div>
                    <div class="col-md-6 text-right">
                        Ajude <a href="https://github.com/glauberportella/eucidadao" target="_blank">https://github.com/glauberportella/eucidadao</a>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <p class="text-center">
                            <a href="{{ path('privacidade') }}">Política de Privacidade</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('bundles/app/js/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.mask.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
