{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
		  <h1>Deputados</h1>
		</div>

		<p class="text-justify">Lista dos deputados.</p>

		<div class="well">
			<h4 style="margin-top: 0; margin-bottom: 15px;">Filtros</h4>
			<form class="form-inline" action="" name="filtroForm" method="post">
				<div class="form-group">
					<label for="filtro_nome">Nome</label>
					<input type="text" name="filtro[nome]" id="filtro_nome" class="form-control">
				</div>
				<div class="form-group">
					<label for="filtro_partido">Partido</label>
					<input type="text" name="filtro[partido]" id="filtro_partido" class="form-control">
				</div>
				<div class="form-group">
					<label for="filtro_uf">UF</label>
					<select name="filtro[uf]" id="filtro_uf" class="form-control">
						<option value=""></option>
						<option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AM">Amazonas</option>
                        <option value="AP">Amapá</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="PR">Paraná</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RO">Rondonia</option>
                        <option value="RR">Roraima</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SE">Sergipe</option>
                        <option value="SP">São Paulo</option>
                        <option value="TO">Tocantins</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Filtrar</button>
			</form>
		</div>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Partido</th>
					<th>UF</th>
					<th>Gabinete (anexo - número)</th>
				</tr>
			</thead>
			<tbody>
				{% for deputado in deputados %}
				<tr>
					<td>
						<img class="img-responsive deputado-foto" src="{{ deputado.urlFoto }}" alt="">
					</td>
					<td>
						{{ deputado.nomeParlamentar }}
						<br><em>{{ deputado.condicao }}</em>
						<br>Fone: {{ deputado.fone }}
						<br>E-mail: {{ deputado.email }}
					</td>
					<td>{{ deputado.partido }}</td>
					<td>{{ deputado.uf }}</td>
					<td>{{ deputado.anexo }} - {{ deputado.gabinete }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}