{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
		  <h1>Proposições</h1>
		</div>

		<p class="text-justify">Lista informação de Tramitação de Proposição por período.</p>

		<div class="well">
			<h4 style="margin-top: 0; margin-bottom: 15px;">Filtros</h4>
			{{ form_start(filtroForm, { 'attr': { 'class': 'form-inline' }}) }}
				{{ form_widget(filtroForm) }}
			{{ form_end(filtroForm) }}
		</div>

		<p class="lead text-center">
			Hoje é: {{ hoje | date('d/m/Y') }}
			<br>
			Proposições no período <span class="label label-info">{{ periodo.inicio | date('d/m/Y') }}</span> a <span class="label label-info">{{ periodo.fim | date('d/m/Y') }}</span>
			<br>
			Total: {{ total }} proposições encontradas.
		</p>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Tema</th>
					<th>Núm.</th>
					<th>Nome</th>
					<th>Ementa</th>
					<th>Data Apres.</th>
					<th>Autor</th>
				</tr>
			</thead>
			<tbody>
				{% for proposicao in proposicoes %}
				<tr>
					<td>{{ proposicao.tipo }}</td>
					<td>{{ proposicao.tema }}</td>
					<td>{{ proposicao.numero }}</td>
					<td>{{ proposicao.nomeProposicao }}</td>
					<td>
						{{ proposicao.ementa }}
						<hr>
						{{ proposicao.explicacaoEmenta }}
					</td>
					<td>{{ proposicao.dataApresentacao }}</td>
					<td>{{ proposicao.autor }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
